.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aa7a7a;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}
